
@{
    ViewBag.Title = "Proprietaire_Info";
    Layout = "~/Views/Shared/_dashboardPropr.cshtml";
    User user = ViewBag.User;
}

<div class="container Account_info">
    <div class="row">
        <h2> Information du compte</h2>
    </div>
    <div class="  justify-content-start">
        <div class="col-md-5" style="display:flex ">
            <h4 style="font-size: 20px">Nom :</h4>
            <p style=" margin-top: 12px; margin-left:264px ; font-size:20px">@user.Name </p>
        </div>
        <div class="col-md-5"  style="display: flex;">
            <h4  style="font-size: 20px">Numéro de telephone :</h4>
            <p style=" margin-top: 12px; margin-left: 107px; font-size: 20px">@user.Phone </p>
        </div>
    </div>

    <div class=" justify-content-start">
        <div class="col-md-5"  style="display:flex">
            <h4  style="font-size: 20px"> <span>Email:</span></h4>
            <p style=" margin-top: 12px; margin-left: 265px; font-size: 20px">@user.Email</p>
        </div>
        <div class="col-md-5"  style="display:flex">
            <h4  style="font-size: 20px">Adresse:</h4>
            <p style=" margin-top: 12px; margin-left: 240px; font-size: 20px">@user.Address </p>
        </div>
    </div>
    <br />
    <div class="row  justify-content-start">
        <div class="col-md-5">
            <a href="@Url.Action("Update_Proprietaire_Info","Proprietaire",new { Id = user.Id , name = user.Name , email = user.Email , tele = user.Phone , adresse = user.Address })" class="btn clrsgn">  Modifier les informations  </a>
        </div>
    </div>
</div>
